{% extends 'base.html' %}
{% load static %}

{% block title %} About Page {% endblock title %}

{% block content %}
    <div class="container-xxl bg-white p-0">
        {% include 'base/spinner.html' %}

        {% include 'base/navbar.html' with about_active=True %}

        {% include 'base/base_header.html' with page_name='About Us' %}

        {% include 'base/search.html' %}

        {% include 'base/about.html' %}

        {% include 'base/call_to_action.html' %}

        {% include 'base/team.html' %}

        {% include 'base/footer.html' %}
      </div> 
{% endblock content %}